<%= form_with(model: history_category, local: true) do |form| %>
  <% if history_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history_category.errors.count, "error") %> prohibited this history_category from being saved:</h2>

      <ul>
      <% history_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
