<section class="history_categories history_categories-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%= link_to t('.new'), new_history_category_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-6 col-sm-3">
              <%= t('.name') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @history_categories.each do |history_category| %>
        <tr data-href="/history_categories/<%= history_category.id %>">
          <th scope="row">
            <%= history_category.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-6 col-sm-3">
                <%= history_category.name %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>