<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @history_category.name %>
</p>

<%= link_to 'Edit', edit_history_category_path(@history_category) %> |
<%= link_to 'Back', history_categories_path %>
