<%= form_with(model: dog, local: true) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="field form-group col-md-4">
      <%= form.label :user %>
      <%= form.collection_select :user_id, User.all, :id, :name, { prompt: 'ユーザーを選択' }, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :breed %>
      <%= form.grouped_collection_select :breed_id, Size.all, :breeds, :name, :id, :name, { prompt: '犬種を選択' }, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :sex %><br>
      <%= form.collection_radio_buttons :sex_id, Sex.all, :id, :name %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :birthday %>
      <%= form.date_field :birthday, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-12">
      <%= form.label :memo %>
      <%= form.text_area :memo, class: "form-control" %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :dog_image %>
      <%= form.file_field :dog_image, class: 'form-control-file' %>
    </div>

    <div class="actions col-md-12">
      <%= form.submit "登録する", class: "btn btn-primary" %>
    </div>

  </div>
<% end %>
