<section class="dogs dogs-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%= link_to t('.new'), new_dog_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-6 col-sm-3">
              <%= t('.name') %>
            </div>
            <div class="col-6 col-sm-3">
              <%= t('.user') %>
            </div>
            <div class="col-12 col-sm-6">
              <%= t('.breed') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @dogs.each do |dog| %>
        <tr data-href="/dogs/<%= dog.id %>">
          <th scope="row">
            <%= dog.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-6 col-sm-3">
                <%= dog.name %>
              </div>
              <div class="col-6 col-sm-3">
                <%= dog.user.name %>
              </div>
              <div class="col-12 col-sm-6">
                <%= dog.breed.name %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>