
<div class="row">

  <div class="col-md-4">
    <strong><%= t('activerecord.attributes.dogs.user') %>：</strong>
    <%= @dog.user.name %>
  </div>

  <div class="col-md-4">
    <strong><%= t('activerecord.attributes.dogs.name') %>：</strong>
    <%= @dog.name %>
  </div>

  <div class="col-md-4">
    <strong><%= t('activerecord.attributes.dogs.breed') %>：</strong>
    <%= @dog.breed.name %>
  </div>

  <div class="col-md-4">
    <strong><%= t('activerecord.attributes.dogs.sex') %>：</strong>
    <%= @dog.sex.name %>
  </div>

  <div class="col-md-4">
    <strong><%= t('activerecord.attributes.dogs.birthday') %>：</strong>
    <%= @dog.birthday %>
  </div>

  <div class="col-md-12">
    <strong><%= t('activerecord.attributes.dogs.memo') %></strong>
    <%= simple_format @dog.memo  %>
  </div>

  <div class="col-md-12">
    <%= image_tag @dog.dog_image_url if @dog.dog_image? %>
  </div>

</div>

<p>（最終更新：<%= @dog.updated_at.strftime('%Y年%m月%d日') %>）</p>

<hr>

<%= link_to '戻る', dogs_path, class: "btn btn-secondary" %>
<%= link_to '編集', edit_dog_path(@dog), class: "btn btn-primary btn-info" %>
<%= link_to '履歴を作成', new_history_path(dog_id: @dog.id), class: "btn btn-primary btn-success" %>
　
<%= link_to '削除', dog_path, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>
