<section class="breeds breeds-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%= link_to t('.new'), new_breed_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-8 col-sm-8">
              <%= t('.name') %>
            </div>
            <div class="col-4 col-sm-4">
              <%= t('.size') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @breeds.each do |breed| %>
        <tr data-href="/breeds/<%= breed.id %>">
          <th scope="row">
            <%= breed.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-8 col-sm-8">
                <%= breed.name %>
              </div>
              <div class="col-4 col-sm-4">
                <%= breed.size.name %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>