

<p>
  <strong>Name:</strong>
  <%= @breed.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @breed.size.name %>
</p>

<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
