<section class="users users-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t '.title' %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%#= link_to '新規登録', new_user_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-6 col-sm-3">
              <%= t('.name') %>
            </div>
            <div class="col-6 col-sm-3">
              <%= t('.city') %>
            </div>
            <div class="col-12 col-sm-6">
              <%= t('.tel') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr data-href="/users/<%= user.id %>">
          <th scope="row">
            <%= user.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-6 col-sm-3">
                <%= user.name %>
              </div>
              <div class="col-6 col-sm-3">
                <%= user.city %>
              </div>
              <div class="col-12 col-sm-6">
                <%= user.tel %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>