<h1>ユーザー情報</h1>
<hr>
<p>
  <strong><%= t 'activerecord.attributes.user.name' %>： </strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.email' %>： </strong>
  <%= @user.email %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.postal' %>： </strong>
  <%= @user.postal %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.pref' %>： </strong>
  <%= @user.pref.name if @user.pref %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.city' %>： </strong>
  <%= @user.city %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.address_1' %>： </strong>
  <%= @user.address_1 %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.address_2' %>： </strong>
  <%= @user.address_2 %>
</p>
<p>
  <strong><%= t 'activerecord.attributes.user.tel' %>： </strong>
  <%= @user.tel %>
</p>

<br>
<p>
  <strong><%= @user.name %>さんの愛犬</strong>
</p>

<% if @user.dogs.present? %>
  <div class="row dogs-index">
    <% @user.dogs.each do |dog| %>
      <%= link_to dog, class: 'col-12 col-sm-6 col-md-4 col-lg-3' do %>
        <ul class='list-group'>
          <li class="list-group-item">
          <%= t('activerecord.attributes.dogs.name') %>：
            <%= dog.name %>
          </li>
          <li class="list-group-item">
            <%= t('activerecord.attributes.dogs.user') %>：
            <%= dog.user.name %>
          </li>
          <li class="list-group-item">
            <%= dog.breed.name %>
          </li>
          <li class="list-group-item">
            <%= dog.sex.name %>
          </li>
          <li class="list-group-item">
            <%= image_tag dog.dog_image.thumb.url if dog.dog_image? %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h6>まだ登録されていません。</h6>
<% end %>

<hr>

<%= link_to '戻る', dogs_path, class: "btn btn-secondary" %>
<%= link_to "愛犬を登録", new_dog_path, class: "btn btn-info" %>
<% if current_user == @user %>
  <%= link_to 'ユーザー情報編集', edit_user_registration_path, class: "btn btn-primary" %> 
<% end %>

<% if signed_in? && current_user.is_admin %>
  <%= link_to 'ユーザー情報編集(管理者ページ)', "/admin/user/#{@user.id}", class: "btn btn-primary" %> 
<% end %>