<p id="notice"><%= notice %></p>

<p>
  <strong>History:</strong>
  <%= @option.history_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @option.course_id %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
