<%# パンくずリスト %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">HOME</li>
  </ol>
</nav>
<%# / パンくずリスト %>

<%# 管理者アカウントでログインしているとき %>
<% if signed_in? && current_user.is_admin %>

  <h3><%= t('.title-admin') %></h3>
  <hr>

  <div class="row home-top">
    <div class="col-md-4 col-6">
      <%= link_to t('users.index.title'), users_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('dogs.index.title'), dogs_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('histories.index.title'), histories_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('courses.index.title'), courses_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('breeds.index.title'), breeds_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('sizes.index.title'), sizes_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('sexes.index.title'), sexes_path, class: 'btn btn-info btn-block' %>
    </div>
    <div class="col-md-4 col-6">
      <%= link_to t('history_categories.index.title'), history_categories_path, class: 'btn btn-info btn-block' %>
    </div>
  </div>

<%# 一般アカウントでログインor未ログインのとき %>
<% else %>

  <h3><%= t('.title-user') %></h3>
  <hr>
  <p>
    ドッグサロン「DogSalon」のお客様用ページへようこそ！
  </p>
  <p>
    ここでは愛するワンちゃんのトリミング履歴が確認できます。
  </p>

<% end %>
