<%= form_with(model: history, local: true) do |form| %>
  <% if history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="field form-group col-md-4">
      <%= form.label :dog %>
      <%= form.collection_select :dog_id, Dog.all, :id, :name, {}, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :date %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= form.label :course %>
      <%= form.grouped_collection_select :course_id, Size.all, :courses, :name, :id, :name, { prompt: 'コースを選択' }, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-12">
      <%= form.label :memo %>
      <%= form.text_area :memo, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-12">
      <%= form.label :cut_image %>
      <br>
      <%= form.file_field :cut_image %>
    </div>

    <div class="actions form-group col-md-4">
      <%= form.submit class: 'btn btn-primary' %>
    </div>

  </div>

<% end %>
