<section class="histories histories-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to 'HOME', root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t('.title') %></h3>

  <%= link_to t('.new'), new_history_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-6 col-sm-3">
              <%= t('.dog_name') %>
            </div>
            <div class="col-6 col-sm-3">
              <%= t('.date') %>
            </div>
            <div class="col-12 col-sm-6">
              <%= t('.course') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @histories.each do |history| %>
        <tr data-href="/histories/<%= history.id %>">
          <th scope="row">
            <%= history.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-6 col-sm-3">
                <%= history.dog.name %>
              </div>
              <div class="col-6 col-sm-3">
                <%= history.date %>
              </div>
              <div class="col-12 col-sm-6">
                <%= history.course.name %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>