<div class="row">

  <p id="notice"><%= notice %></p>

  <div class="col-md-4">
    <strong>Dog:</strong>
    <%= @history.dog.name %>
  </div>

  <div class="col-md-4">
    <strong>Date:</strong>
    <%= @history.date.strftime('%Y年%m月%d日') %>
  </div>

  <div class="col-md-12">
    <strong>Course:</strong>
    <%= @history.course.name %>
    <%= @history.course.price %>円
  </div>

  <div class="col-md-12">
    <strong>Memo:</strong>
    <%= simple_format @history.memo %>
  </div>

  <div class="col-md-12">
    <%= image_tag @history.cut_image_url if @history.cut_image? %>
  </div>

  <%= link_to 'Edit', edit_history_path(@history) %> |
  <%= link_to 'Back', histories_path %>

</div>