<section class="courses courses-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%= link_to t('.new'), new_course_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-9 col-sm-9">
              <%= t('.name') %>
            </div>
            <div class="col-3 col-sm-3">
              <%= t('.price') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr data-href="/courses/<%= course.id %>">
          <th scope="row">
            <%= course.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-9 col-sm-9">
                <%= course.name %>
              </div>
              <div class="col-3 col-sm-3">
                <%= course.price.to_s(:delimited) %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>