<section class="sexes sexes-index">

  <%# パンくずリスト %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><%= link_to "HOME", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('.title') %></li>
    </ol>
  </nav>
  <%# / パンくずリスト %>

  <h3><%= t '.title' %></h3>

  <%= link_to t('.new'), new_sex_path, class: 'btn btn-primary btn-new float-right' %>

  <table class="table index-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">
          <div class="row">
            <div class="col-12">
              <%= t('.name') %>
            </div>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @sexes.each do |sex| %>
        <tr data-href="/sexes/<%= sex.id %>">
          <th scope="row">
            <%= sex.id %>
          </th>
          <td>
            <div class="row">
              <div class="col-12">
                <%= sex.name %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>