// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  // ヘッダー分のスペース
  padding-top: 60px;
  font-family: 'Varela Round', 'Kosugi Maru', 'meiryo', 'メイリオ', 'ヒラギノ丸ゴ ProN', sans-serif;

  form {
    // ラジオボタン間のスペース
    label + input[type="radio"] {
      margin-left: 2em;
    }

    // ラジオボタンの大きさ調整
    input[type="radio"] {
      height: 1.25em;
      width: 1.25em;
      vertical-align: middle;
    }
  }

  
  // パンくずリスト
  .breadcrumb {
    background: transparent;
    font-family: Times New Roman,"ＭＳ Ｐゴシック";
    font-style: italic;
    margin-bottom: 0;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content:'>';
  }
  
  // HOME画面
  .home-top {
    
    .btn {
      margin: 10px 0;
    }
  }
  
  // インデックスページ
  section[class*="-index"] {
    h1, h2, h3 {
      margin-bottom: 0;
    }
    
    // 新規ボタン
    .btn-new {
      margin-bottom: 10px;
    }

    // インデックステーブル
    th, td, tr, td {
      border-color: brown;
    }

    .index-table {
      border-bottom: brown 1px solid;

      // TableHeader
      thead {
        th {
          padding-top: 2px;
          padding-bottom: 2px;
          vertical-align: middle;
        }
      }
      
      // TableBody
      tbody {

        th {
          vertical-align: middle;
        }

        tr {
          &[data-href] {
            cursor: pointer;
  
            &:hover {
              background-color: antiquewhite;
            }
          }
        }
        
        // TableData
        td {
          vertical-align: middle;
          .btn {
            width: 100%;
          }
        }
      }

    }
  }
}