<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <%= link_to "Dogsalon", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <%# 管理者アカウントでログインしているとき %>
      <% if signed_in? && current_user.is_admin %>
        <li class="nav-item">
          <%= link_to dogs_path, class: "nav-link" do %>
            登録犬一覧 <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "お客様一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ご利用履歴", histories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "犬種一覧", breeds_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "管理者用ページ", rails_admin_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: 'delete', class: "nav-link" %>
        </li>

      <%# 一般アカウントでログインしているとき %>
      <% elsif signed_in? %>
        <li class="nav-item">
          <%= link_to "お客様情報", current_user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ご利用履歴", histories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "犬種一覧", breeds_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: 'delete', class: "nav-link" %>
        </li>
        
      <%# ログインしていないとき %>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "犬種一覧", breeds_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%# ログインフォーム %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>