<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Dogsalon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

        <%# ヘッダーメニュー %>
        <header>
          <%= render partial: '/layouts/header' %> 
        </header>

          <%# フラッシュ表示用 %>
          <% flash.each do |key, value| %>
            <% if flash[key] != "" %>
              <div class="alert <%= bootstrap_class_for(key) %>">
                <%= value %>
              </div>
            <% end %>
          <% end %>

          <%= yield %>

          <%# デバッグ %>
          <%= debug params if Rails.env.development? %>

        </div>
      </div>
    </div>
  </body>
</html>
