<h2><%= t('.title', resource: resource_name.to_s.humanize) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">

    <div class="field form-group col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :postal %><br />
      <%= f.text_field :postal, autofocus: true, autocomplete: "postal", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :pref %><br />
      <%= f.collection_select :pref_id, Pref.all, :id, :name, { selected: 40 }, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :city %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "city", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :address_1 %><br />
      <%= f.text_field :address_1, autofocus: true, autocomplete: "address_1", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :address_2 %><br />
      <%= f.text_field :address_2, autofocus: true, autocomplete: "address_2", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :tel %><br />
      <%= f.telephone_field :tel, autofocus: true, autocomplete: "tel", class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="field form-group col-md-4">
      <%= f.label :new_password %><i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
    <br>

  <div class="actions">
    <%= f.submit t('.update'), class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

<%= link_to t('devise.shared.links.back'), :back %>
