<!-- パンくずリスト -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= link_to 'HOME', 'root_path' %></li>
    <li class="breadcrumb-item"><%= t('.sign_up') %></li>
  </ol>
</nav>
<hr>
<!--/ パンくずリスト -->

<h2><%= t('.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">

    <div class="field form-group col-md-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :postal %><br />
      <%= f.text_field :postal, autofocus: true, autocomplete: "postal", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :pref %><br />
      <%= f.collection_select :pref_id, Pref.all, :id, :name, { selected: 40 }, class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :city %><br />
      <%= f.text_field :city, autofocus: true, autocomplete: "city", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :address_1 %><br />
      <%= f.text_field :address_1, autofocus: true, autocomplete: "address_1", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :address_2 %><br />
      <%= f.text_field :address_2, autofocus: true, autocomplete: "address_2", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :tel %><br />
      <%= f.telephone_field :tel, autofocus: true, autocomplete: "tel", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field form-group col-md-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
